html{ 
  overflow-y:scroll; 
}

body{
  margin-top:25px;
}
#todo-list{ 
  margin-bottom:30px; 
}
.btn{
  padding: 0 1rem;
}
.strike{
  color: #607D8B;
  text-decoration: line-through;
}

.checkbox{
  padding-right: 20px;
}
.delBtn{
  float: right;
  cursor: pointer; 
  cursor: hand;
}