html{ 
  overflow-y:scroll; 
  height: 100%;
}

body{
  height:100%;
}

#todo-list{ 
  margin-bottom:30px; 
}
.btn{
  padding: 0 1rem;
}
.strike{
  color: #607D8B;
  text-decoration: line-through;
}

.checkbox{
  padding-right: 20px;
}

.authForm{
  margin-top:30px;
}

.checkbox{
  line-height: 32px;
}

.tags{
  float:right;
  text-align: right;
  display: inline-block;
}

.chip{
  height: 25px;
  line-height: 25px;
}

.delBtn{
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}